MONGODB_URI=
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_HOSTS=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=splitapp
MONGODB_REPLICA_SET=
MONGODB_TLS=false
MONGODB_TLS_CA_FILE=
MONGODB_DB_NAME=splitapp
